
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    overflow-x: hidden;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: /*linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),*/url(image/genversion.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}   
nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(194,95,63,0.75);
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}
.logo:hover{
    color: #fff;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 20px 0 0;
    /* padding: 8px 20px ; */
    /* margin-right: 40px; */
    /* margin: 0 8px; */
    position: relative;
    
}
.nav-links ul li a{
   
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    
    top: 90%;
    left: 80%; 
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 4px solid #000000;
    padding: 12px 34px;
    font-size: 25px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 1);
    background:  transparent;
    position: relative;
    cursor: pointer;

    background: rgba(228, 228, 228, 0.5);
    border: 4px solid rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 80px;

}

.hero-btn:hover{
    border: 1px solid #fff6a4;
    background: #fff6a4;
    transition:  .5s;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: #000000;

}
nav .fa{
    display: none;
}

@media(max-width:909px){
    .header{
        overflow: hidden;
        
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgba(194,95,63,1);
        /* background: #f44336; */
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        
    }
    .nav-links ul{
        padding: 30px;
    }

    .text-box{
        width: 90%;
        color: #fff;
        position: absolute;
        
        top: 90%;
        left: 50%; 
        transform: translate(-50%,-50%);
        text-align: center;
        
    }

}

/* tag */
.tag{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    overflow: hidden;
    background-color: #CE846C;
    font-size: 20px;

}
.tag h1{
    
    padding: 5px 40px;
    background-color: #C25F3F;
    width: 100%;
    color: #fff;
    font-size: 20px;
    
}

html h1{
    text-align: left;
    
    
    font-size: 20px;
    font-weight: 600;
}
html p{
    color: rgb(91, 91, 91);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

html h3{
    /* font-size: 20px; */
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}


@media(max-width:909px){
    .row{
        flex-direction: column;
    }
}

/* banner*/

.banner{
    width: 100%;
    margin: auto;
    text-align: center;
    /* padding-top: 0px; */
    /* overflow: visible; */
    background-color: #CE846C;
    font-size: 20px;
    
}
.banner h1{
    margin-left: 20px;
    
    padding: 5px 0px;
    background-color: rgb(255, 253, 236);
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;

    /* background: rgba(228, 228, 228, 0.5); */
    border: 4px solid rgb(255, 253, 236);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    cursor: default;

}
.banner #carouselExampleCaptions{
    padding: 0 3%;
    /* margin: 0 3%; */
    
    padding-bottom: 10px;

    border-bottom: 2px dashed rgb(255, 255, 255);
}
.banner #carouselExampleCaptions img{
    padding: 0 3%;
    /* margin: 0 3%; */
    padding-bottom: 10px;
    
    border-radius: 5%;
    
}


/* map */

.map{
    padding-top: 2%;
    width: 100%;
    margin: auto;
    text-align: center;
 
    overflow: hidden;
    background-color: #CE846C;
    font-size: 20px;
    border-bottom: 2px dashed rgb(255, 255, 255);
}

.map h1{
    margin-left: 20px;
    
    padding: 5px 0px;
    background-color: rgb(255, 253, 236);
    width: 20%;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;

    /* background: rgba(228, 228, 228, 0.5); */
    border: 4px solid rgb(255, 253, 236);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    cursor: default;

}

.map-col{
    padding-bottom: 10px;
    padding: 3%;

    top: 20px;
    width: 90;
    flex-basis: 94%;
    margin: 0% 3%;
    border-radius: 10px;
    margin-bottom: 2%;
    text-align: left;
    background: #F5E6E1;
    cursor: default;
    display: flex;
    
    
}
.mapread{
    display: column;
}

.map-col img{
    width: 200%;
    text-align: left;
    padding: 0 3% ;
   

}
.map-col h3{
    padding: 0;
    text-align: left;
}
.map-col p{
    margin-top: 15px;
    /* text-align: left; */
    color: rgb(91, 91, 91);;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

@media(max-width:909px){
  
    .map-col{
        padding-bottom: 10px;
        margin: auto;
        border-radius: 0px;
        margin-bottom: 5%;
        text-align: center;
        background: #F5E6E1;
        padding: 3%;
        cursor: default;
        flex-direction: column;
        
    }
    .map-col img{
        margin: auto;
        padding: auto;
        width: 90%;
        text-align: center;
        margin-bottom: 2%;
    
    }
    .mapread h3{
        text-align: center;
    }
    .mapread p{
        text-align: center;
        padding: 0 5%;
    }

}


/* artifact */

.artifact{
    padding-top: 2%;
    width: 100%;
    margin: auto;
    text-align: center;
    /* padding-top: 0px; */
    /* overflow: visible; */
    background-color: #CE846C;
    font-size: 20px;
    
}
.artifact h1{
    margin-left: 20px;
    
    padding: 5px 0px;
    background-color: rgb(255, 253, 236);
    width: 30%;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;

    /* background: rgba(228, 228, 228, 0.5); */
    border: 4px solid rgb(255, 253, 236);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    cursor: default;

}

.art-row{

    flex-basis: 94%;
    margin: 0% 3%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #F5E6E1;
    margin-bottom: 5%;
    padding: 25px;
    /* padding-right: 10%; */
    cursor: default;
   

/* 
    padding-top: 3%; */
    /* padding: 3%; */
    display: flex;
    justify-content: space-between;
    background: #F5E6E1;
}
.art-col img{
    width: 100%;
    text-align: left;
    padding: 0 3% ;

}

@media(max-width:909px){

    .art-row{
        padding-bottom: 10px;
        margin: auto;
        border-radius: 0;
        margin-bottom: 0%;
        text-align: center;
        background: #F5E6E1;
        padding: 3%;
        cursor: default;
        flex-direction: column;

    }

    .art-col img{
        margin: auto;
        padding: auto;
        width: 90%;
        text-align: center;
        margin-bottom: 2%;
    
    }
  

}

/* foot */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #C25F3F;

}

.footer h4{
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    
}


